.container {
  display: grid;
  max-width: 1000px;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template: 1fr 1fr 2fr / repeat(3, 1fr);
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
  padding: 5px;
}

.head {
  grid-area: 1 / 1 / span 1 / span 3;
  font-family: Georgia, sans-serif;
}

.intro {
  grid-area: 2 / 1 / span 1 / span 1;
}

.list {
  grid-area: 3 / 1 / span 1 / span 1;
}

.table {
  grid-area: 3 / 2 / span 1 / span 2;
}

h1 {
  position: relative;
  top: 15px;
  color: white;
  background-color: darkgray;
  text-align: center;
  margin: 0 15%;
}

p {
  font-family: sans-serif;
}

table {
  position: relative;
  top: 25%;
  outline: 2px solid black;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin: auto;
}

th, td {
  outline: 1px solid black;
  padding: 5px;
}

.login {
  margin-top: 50px;
}
